fieldset,
legend {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 0.5px solid #1b224c;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 11.5px 20px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #1b224c;
	cursor: pointer;
	display: inline-block;
	position: relative;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #1b224c;
	content: "";
	height: 16px;
	left: 0;
	position: absolute;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="reset"],
input[type="button"] {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type="reset"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

/* checked */

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #B4B4B4;
	font-size: 12px;
	padding-top: 5px;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #B4B4B4;
	font-size: 12px;
	padding-top: 5px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #B4B4B4;
	font-size: 12px;
	padding-top: 5px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	color: #1b224c;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.6875;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	position: relative;
	z-index: -9999;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

a:hover {
	opacity: 0.8;
}

img {
	-o-object-fit: cover;
	-o-object-position: center;
	border: none;
	display: block;
	height: auto;
	max-width: 100%;
	object-fit: cover;
	object-position: center;
	vertical-align: bottom;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: none;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	cursor: pointer;
	display: block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([is-open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

/* Remove all animations and transitions for people that prefer not to see them */

.l-404 {
	margin-top: 6.25rem;
}

.l-archive-contact {
	margin-top: 2.8125rem;
}

.l-blog {
	max-width: 26.875rem;
	width: 100%;
}

.l-breadcrumb {
	background-color: #F8F8F8;
	font-size: 0.75rem;
	padding-bottom: 1.25rem;
	padding-top: 1.25rem;
}

.l-breadcrumb span:not(:last-child) a {
	text-decoration: underline;
}

.l-category {
	margin-top: 3.125rem;
}

.l-contact-footer {
	margin-top: 5.125rem;
}

.l-contact {
	margin-top: 7.4375rem;
}

.l-container {
	margin-top: 3.75rem;
}

.l-container__inner {
	display: flex;
}

.l-feature {
	margin-top: 3.6875rem;
}

.l-footer {
	margin-top: 1.5rem;
}

.l-header {
	height: 5rem;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 950px;
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
}

.l-main-contents {
	max-width: 36.875rem;
	width: 100%;
}

.l-news-single {
	margin-top: 3.75rem;
}

.l-news {
	margin-left: 4.375rem;
	max-width: 25.125rem;
	width: 100%;
}

.l-pagenavi {
	margin-top: 6.8125rem;
}

.l-pickup {
	margin-top: 3.75rem;
}

.l-position-footer {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
}

.l-price-contact {
	margin-top: 6.5rem;
}

.l-price-list {
	margin-top: 5.625rem;
}

.l-price-plan {
	margin-top: 3.625rem;
}

.l-price {
	margin-top: 5.8125rem;
}

.l-question {
	margin-top: 4.6875rem;
}

.l-section-box {
	margin-top: 5.625rem;
}

.l-section-box__inner {
	align-items: flex-start;
	display: flex;
}

.l-side-contents {
	margin-left: 2.25rem;
	max-width: 16.875rem;
	width: 100%;
}

.l-single-contact {
	margin-top: 4.375rem;
}

.l-sub-blog {
	margin-top: 3.625rem;
}

.l-sub-contact {
	margin-top: 3.625rem;
}

.l-sub-news {
	margin-top: 3.625rem;
}

.l-success {
	margin-top: 2.4375rem;
}

.l-thanks {
	margin-top: 5.1875rem;
}

.l-use {
	margin-top: 3.625rem;
}

.c-border__btn {
	border: 1px solid #fff;
	border-radius: 30px;
	color: #fff;
	display: inline-block;
	font-weight: 700;
	padding: 0.65625rem 2.6875rem;
}

.c-copy {
	font-size: 0.75rem;
	font-weight: 700;
	padding: 0.625rem 25px;
	text-align: right;
}

.c-hamburger {
	display: none;
}

.c-hamburger__line {
	background-color: #1b224c;
	bottom: 0;
	height: 0.125rem;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	transition: inherit;
	width: 1.5625rem;
}

.c-hamburger__line::before,
.c-hamburger__line::after {
	background-color: inherit;
	content: "";
	display: block;
	height: 0.125rem;
	position: absolute;
	transition: inherit;
	width: 1.5625rem;
}

.c-hamburger__line::before {
	top: -0.375rem;
}

.c-hamburger__line::after {
	top: 0.375rem;
}

.c-hamburger[aria-expanded="true"] .c-hamburger__line {
	background-color: transparent;
}

.c-hamburger[aria-expanded="true"] .c-hamburger__line::before,
.c-hamburger[aria-expanded="true"] .c-hamburger__line::after {
	background-color: #1b224c;
	top: 0;
}

.c-hamburger[aria-expanded="true"] .c-hamburger__line::before {
	transform: rotate(45deg);
}

.c-hamburger[aria-expanded="true"] .c-hamburger__line::after {
	transform: rotate(-45deg);
}

.c-main-btn {
	background-color: #f5a623;
	border-radius: 30px;
	color: #fff;
	display: inline-block;
	font-weight: 700;
	padding: 1.03125rem 6.125rem;
}

.c-section-title {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.388;
	text-align: center;
}

.c-section-title.c-section-title--sub {
	font-size: 2rem;
}

.c-side-title {
	background-color: #1b224c;
	color: #fff;
	font-size: 1.3125rem;
	font-weight: 700;
	padding: 0.875rem;
	text-align: center;
	width: 100%;
}

.c-small-btn {
	background-color: #f5a623;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-size: 0.875rem;
	font-weight: 700;
	padding: 0.8125rem 2.6875rem;
}

.c-small-btn.c-small-btn--blue {
	background-color: #1b224c;
	padding: 0.8125rem 1.8125rem;
}

.c-sub-section-title {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
}

.c-tell {
	align-items: center;
	display: flex;
}

.c-tell__img {
	height: 0.91938rem;
	margin-top: 0.3125rem;
	width: 0.625rem;
}

.c-tell__number {
	font-weight: 700;
	margin-left: 0.3125rem;
	margin-top: 0.3125rem;
}

.c-test {
	color: red;
	font-size: 3.125rem;
}

.p-404__text {
	margin-top: 3.125rem;
}

.p-accordion {
	border-bottom: solid 1px #1b224c;
}

.p-accordion__title {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	border-top: solid 1px #1b224c;
	cursor: pointer;
	font-size: 1rem;
	padding-bottom: 1.5625rem;
	padding-right: 3.75rem;
	padding-top: 1.5625rem;
	position: relative;
	user-select: none;
}

.p-accordion__title::before,
.p-accordion__title::after {
	background-color: #1b224c;
	content: "";
	display: block;
	height: 0.1875rem;
	position: absolute;
	right: 1.28125rem;
	top: 50%;
	width: 1.5625rem;
}

.p-accordion__title::after {
	transform: rotate(90deg);
	transition-duration: 0.3s;
}

.p-accordion__title.is-active::before {
	opacity: 0;
}

.p-accordion__title.is-active::after {
	transform: rotate(0);
}

.p-accordion__text {
	height: 0;
	height: auto;
	line-height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0 1.59375rem;
	transition-duration: 0.3s;
}

.p-accordion__text.is-open {
	background-color: #F8F8F8;
	line-height: 1.6875;
	margin-bottom: 0.96875rem;
	opacity: 1;
	padding: 1.4375rem 1.59375rem;
}

.p-ask {
	background-color: #1b224c;
	padding-bottom: 3.375rem;
	padding-top: 3.9375rem;
}

.p-ask__title {
	color: #fff;
}

.p-ask__items {
	align-items: center;
	color: #fff;
	display: flex;
	justify-content: center;
	margin-top: 4.0625rem;
	text-align: center;
}

.p-ask__item {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 2.166;
}

.p-ask__item + .p-ask__item {
	margin-left: 1.875rem;
}

.p-ask__content {
	margin-top: 5.1875rem;
}

.p-blog-box {
	align-items: flex-start;
	display: flex;
	position: relative;
}

.p-blog-box__img {
	max-width: 15rem;
	position: relative;
	width: 100%;
}

.p-blog-box__img::before {
	content: "";
	display: block;
	padding-top: 75%;
}

.p-blog-box__img img {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.p-blog-box__body {
	margin-left: 3.125rem;
	max-width: 38.125rem;
	width: 100%;
}

.p-blog-box__category a {
	background-color: #1b224c;
	color: #fff;
	display: block;
	font-size: 0.75rem;
	left: 0;
	padding: 0.3125rem 0.5625rem;
	position: absolute;
	top: 0;
}

.p-blog-box__sub-title {
	margin-top: 0.9375rem;
}

.p-blog-box__sub-title a {
	display: block;
	font-size: 1.625rem;
	font-weight: 700;
	line-height: 1.5;
	text-decoration: underline;
	width: 100%;
}

.p-blog-box__text {
	line-height: 1.5;
	margin-top: 0.9375rem;
}

.p-blog-box__date {
	font-size: 1rem;
}

.p-blog__item {
	display: flex;
	justify-content: flex-start;
	margin-top: 1.875rem;
	position: relative;
}

.p-blog__img {
	max-width: 9.375rem;
	position: relative;
	width: 100%;
}

.p-blog__img::before {
	content: "";
	display: block;
	padding-top: 73.3333333%;
}

.p-blog__img img {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.p-blog__body {
	display: flex;
	flex-direction: column;
	margin-left: 1.25rem;
	max-width: 16.25rem;
	width: 100%;
}

.p-blog__category a {
	background-color: #1b224c;
	color: #fff;
	display: block;
	font-size: 0.75rem;
	left: 0;
	padding: 0.3125rem 0.5625rem;
	position: absolute;
	top: 0;
}

.p-blog__title {
	text-align: left;
}

.p-blog__sub-title a {
	display: inline-block;
	font-size: 1rem;
	font-weight: 700;
	text-decoration: underline;
}

.p-blog__date {
	font-size: 0.75rem;
	margin-top: auto;
}

.p-border-box {
	background-color: #fff;
	padding: 0.75rem 1rem;
	text-align: center;
}

.p-border-box__inner {
	border: 5px solid #1b224c;
	padding: 1.5rem;
}

.p-border-box__under {
	position: relative;
	z-index: 2;
}

.p-border-box__under::after {
	background-color: #f5a623;
	bottom: 0.1875rem;
	content: "";
	display: block;
	height: 0.3125rem;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: -10;
}

.p-border-box__text {
	font-size: 1.125rem;
	line-height: 1.722;
	margin-top: 1.5625rem;
}

.p-box1 {
	align-items: center;
	display: flex;
}

.p-box1__body {
	max-width: 31.25rem;
	width: 100%;
}

.p-box1__body.p-box1__body--even {
	margin-left: 3.125rem;
}

.p-box1__category {
	background-color: #f5a623;
	color: #fff;
	display: inline-block;
	font-size: 0.75rem;
	padding: 0.5625rem 1.5625rem;
}

.p-box1__title {
	font-size: 1.625rem;
	font-weight: 700;
	line-height: 1.5;
	margin-top: 2.1875rem;
}

.p-box1__text {
	margin-top: 2.4375rem;
}

.p-box1__img {
	margin-left: 3.125rem;
	position: relative;
	width: 100%;
}

.p-box1__img::before {
	content: "";
	display: block;
	padding-top: 68.571429%;
}

.p-box1__img img {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.p-box1__img.p-box1__img--even {
	margin-left: 0;
}

.p-card-list {
	display: flex;
	flex-wrap: wrap;
}

.p-card-list__item {
	max-width: calc(33.3333% - 1.875rem * 2 / 3);
	width: 100%;
}

.p-card-list__item + .p-card-list__item {
	margin-left: 1.875rem;
}

.p-card-list__item:nth-child(3n + 1) {
	margin-left: 0;
}

.p-card-list__item:nth-child(n + 4) {
	margin-top: 3.125rem;
}

.p-case-card__title {
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.8125;
}

.p-case-card__img {
	margin-top: 0.5625rem;
	position: relative;
	width: 100%;
}

.p-case-card__img::before {
	content: "";
	display: block;
	padding-top: 61.071429%;
}

.p-case-card__img img {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.p-case-card__body {
	margin-top: 1rem;
}

.p-case-card__category {
	background-color: #fff;
	display: inline-block;
	max-width: 6.25rem;
	padding: 0.3125rem 0.625rem;
	width: 100%;
}

.p-case-card__name {
	background-color: #fff;
	display: inline-block;
	margin-left: 0.5rem;
	max-width: 10.75rem;
	padding: 0.3125rem 0.5rem 0.3125rem 0.625rem;
	width: 100%;
}

.p-case-card__up {
	background-color: #fff;
	margin-top: 0.625rem;
	padding: 0.3125rem 0.875rem;
}

.p-case-card__info {
	align-items: flex-start;
	display: flex;
}

.p-category__items {
	list-style-type: disc;
	margin-left: 1.25rem;
	margin-top: 1.375rem;
}

.p-category__item a {
	font-size: 1rem;
	font-weight: 700;
	padding: 0.5rem 0;
}

.p-contact-button__submit {
	-webkit-appearance: none;
	background-color: #1b224c;
	background-image: none;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 1.0625rem 4.25rem;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.p-contact-button__submit:hover,
.p-contact-button__submit:focus {
	opacity: 0.8;
	outline: none;
}

.p-contact-button__submit::-moz-foucus-inner {
	border: none;
	padding: 0;
}

input[type="checkbox"] + span {
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	font-weight: 500;
	padding: 0 0 0 2.1875rem;
	position: relative;
}

input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #707070;
	content: "";
	display: block;
	height: 1.25rem;
	left: 0;
	position: absolute;
	top: 0.125rem;
	width: 1.25rem;
}

input[type="checkbox"] + span::after {
	-webkit-transform: rotate(-45deg);
	border-bottom: 3px solid #707070;
	border-left: 3px solid #707070;
	content: "";
	display: block;
	height: 0.6em;
	left: 0.125rem;
	opacity: 0;
	position: absolute;
	top: 0.375rem;
	transform: rotate(-45deg);
	transition: all 0.3s ease 0s;
	width: 1em;
}

input[type="checkbox"]:checked + span::after {
	opacity: 1;
}

.p-contact-radio {
	display: flex;
	flex-direction: column;
}

input[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	font-weight: 500;
	padding: 0.5625rem 0 0.5625rem 2.4375rem;
	position: relative;
}

input[type="radio"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #707070;
	border-radius: 50%;
	content: "";
	display: block;
	height: 1.25rem;
	left: 0;
	position: absolute;
	top: 51%;
	transform: translateY(-50%);
	width: 1.25rem;
}

input[type="radio"] + span::after {
	-webkit-transform: translateY(-50%);
	background: #707070;
	border: 1px solid transparent;
	border-radius: 50%;
	content: "";
	height: 0.5rem;
	left: 0.375rem;
	opacity: 0;
	padding: 0.125rem;
	position: absolute;
	top: 51%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	width: 0.5rem;
}

input[type="radio"]:checked + span::after {
	opacity: 1;
}

.p-contact-text__text {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border: 1px solid #1b224c;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 1rem;
	padding: 0.3125rem 0.625rem;
	width: 100%;
}

.p-contact-text__text:focus {
	border: 1px solid #1b224c;
	box-shadow: none;
	outline: none;
}

.p-contact-textarea__text {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border: 0.5px solid #1b224c;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 1rem;
	height: 15.125rem;
	padding: 1.375rem 1.4375rem;
	resize: none;
	width: 100%;
}

.p-contact-textarea__text:focus {
	border: 0.5px solid #1b224c;
	box-shadow: none;
	outline: none;
}

.p-contact__inner {
	background-image: url(../img/common/contact.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 2.5625rem;
	padding-top: 4.375rem;
	text-align: center;
}

.p-contact__title {
	color: #fff;
}

.p-contact__btn {
	margin-top: 1rem;
}

.p-contact__link {
	color: #fff;
	display: inline-block;
	margin-top: 1.375rem;
	text-decoration: underline;
	width: 100%;
}

.p-contact__info {
	align-items: flex-end;
	display: flex;
	justify-content: center;
	margin-left: -7.1875rem;
	margin-top: 1.25rem;
	padding-left: 20px;
	padding-right: 20px;
}

.p-contact__text {
	font-weight: 700;
}

.p-contact__number {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1;
	margin-left: 1.25rem;
}

.p-contact__hour {
	margin-left: 1.25rem;
}

.p-feature__item {
	margin-top: 3.75rem;
}

.p-footer {
	color: #1b224c;
}

.p-footer__bgc {
	background-color: #1b224c;
}

.p-footer__inner {
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 2.1875rem 25px 4.125rem;
}

.p-footer__items {
	align-items: flex-start;
	display: flex;
	padding-top: 0.6875rem;
}

.p-footer__item {
	position: relative;
}

.p-footer__item::before {
	background-color: #fff;
	bottom: 0;
	content: "";
	display: inline-block;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
}

.p-footer__item:last-child:before {
	content: none;
}

.p-footer__item a {
	display: block;
	font-weight: 700;
	padding: 0 1.625rem;
}

.p-header__logo {
	height: 1.9375rem;
	width: 9.9375rem;
}

.p-footer__logo a {
	background-color: #fff;
	display: block;
	padding: 0.875rem 1.1875rem;
}

.p-footer__logo a:hover {
	opacity: initial;
}

.p-footer__info {
	margin-top: 1.5rem;
	text-align: right;
}

.p-footer__tell {
	justify-content: flex-end;
}

.p-footer__hour {
	margin-top: 0.5625rem;
}

.p-header {
	position: relative;
}

.p-header__inner {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: space-between;
	padding-left: 0.9375rem;
	padding-right: 0.625rem;
}

.p-header__left {
	align-items: center;
	display: flex;
	height: inherit;
}

.p-header__right {
	align-items: center;
	display: flex;
	height: inherit;
	z-index: 100;
}

.p-header__logo {
	height: 1.6875rem;
	position: relative;
	width: 8.5rem;
	z-index: 1000;
}

.p-header__info {
	margin-top: 0.9375rem;
}

.p-header__hour {
	font-size: 0.75rem;
	text-align: right;
}

.p-header__btn {
	margin-left: 1.5rem;
}

.p-header__btn:last-child {
	margin-left: 0.625rem;
}

.p-mv {
	background-image: url(../img/top/mv.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding-bottom: 5.375rem;
	padding-top: 7.25rem;
	text-align: center;
}

.p-mv__title {
	font-size: 3rem;
	font-weight: 700;
	line-height: 1;
}

.p-mv__text {
	font-size: 1.125rem;
	line-height: 1.72;
	margin-top: 1.5625rem;
}

.p-mv__btn {
	margin-top: 2.8125rem;
}

.p-mv__link {
	color: #fff;
	display: block;
	line-height: 1;
	margin-top: 1.375rem;
	text-decoration: underline;
	width: 100%;
}

.p-news-info {
	align-items: center;
	border-top: 1px solid #D5D5D5;
	display: flex;
}

.p-news-info:last-child {
	border-bottom: 1px solid #D5D5D5;
}

.p-news-info__sub-title {
	font-weight: 500;
	height: inherit;
	margin-left: 3.1875rem;
	max-width: 45.9375rem;
	width: 100%;
}

.p-news-info__sub-title a {
	display: inline-block;
	font-size: 1rem;
	height: inherit;
	padding-bottom: 1.3125rem;
	padding-top: 1.3125rem;
	text-decoration: underline;
	width: inherit;
}

.p-news-info__date {
	font-size: 1rem;
	height: inherit;
	max-width: 5.3125rem;
	padding-bottom: 1.3125rem;
	padding-top: 1.3125rem;
	width: 100%;
}

.p-news-single {
	line-height: 1.5;
}

.p-news-single__category {
	background-color: #1b224c;
	color: #fff;
	display: inline-block;
	font-size: 0.75rem;
	line-height: 1;
	padding: 0.5625rem 1.5625rem;
}

.p-news-single__title {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.71428571;
	margin-top: 2.1875rem;
}

.p-news-single__date {
	display: block;
	margin-top: 2.25rem;
	text-align: right;
}

.p-news-single__body h2 {
	font-size: 1.625rem;
	font-weight: 700;
	margin-top: 3.75rem;
}

.p-news-single__body > p {
	margin-top: 1.875rem;
}

.p-news-single__body h3 {
	font-size: 1.375rem;
	font-weight: 700;
	margin-top: 2.0625rem;
	padding-left: 0.625rem;
	position: relative;
}

.p-news-single__body h3::before {
	background-color: #1b224c;
	content: "";
	display: inline-block;
	height: 1.75rem;
	left: 0;
	position: absolute;
	top: 0.1875rem;
	width: 0.25rem;
}

.p-news-single__body .wp-block-quote {
	background-color: #F8F8F8;
	margin-top: 1.875rem;
	padding: 1.6875rem 1.625rem 1.0625rem 4.625rem;
	position: relative;
	width: 100%;
}

.p-news-single__body .wp-block-quote::before {
	color: #B4B4B4;
	content: "“";
	display: inline-block;
	font-size: 5.625rem;
	left: 1.25rem;
	position: absolute;
	top: -0.25rem;
}

.wp-block-image {
	margin-top: 1.875rem;
	max-width: 36.875rem;
	width: 100%;
}

.p-news-single__body ul {
	margin-top: 2.25rem;
	max-width: 34.875rem;
	padding-left: 0.875rem;
	width: 100%;
}

.p-news-single__body ul li {
	padding-left: 2.0625rem;
	position: relative;
}

.p-news-single__body ul li::before {
	background-color: #f5a623;
	border-radius: 50%;
	content: "";
	display: block;
	height: 0.6875rem;
	left: 0;
	position: absolute;
	top: 0.3125rem;
	width: 0.6875rem;
}

.p-news-single__body a {
	color: #f5a623;
	display: block;
	margin-top: 1.875rem;
	padding-left: 0.875rem;
	text-decoration: underline;
}

.p-news__item {
	margin-top: 1.6875rem;
}

.p-news__title {
	text-align: left;
}

.p-news__sub-title a {
	display: block;
	font-size: 1rem;
	text-decoration: underline;
}

.p-news__date {
	font-size: 0.75rem;
}

.p-order-list__item {
	align-items: center;
	background-color: #f5a623;
	display: flex;
}

.p-order-list__item + .p-order-list__item {
	margin-top: 0.5rem;
}

.p-order-list__number {
	color: #fff;
	display: block;
	font-weight: 700;
	height: inherit;
	padding-left: 1.4375rem;
	padding-right: 1.4375rem;
}

.p-order-list__content {
	align-items: center;
	background-color: #F8F8F8;
	display: flex;
	padding: 1.4375rem 1.3125rem;
	width: 100%;
}

.p-order-list__title {
	font-size: 1.125rem;
	font-weight: 700;
	max-width: 13.40625rem;
	padding-right: 1.3125rem;
	width: 100%;
}

.p-order-list__text {
	max-width: 38.78125rem;
	padding-left: 3.34375rem;
	position: relative;
	width: 100%;
}

.p-order-list__text::before {
	background-color: #C3C3C3;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0rem;
	width: 0.0625rem;
}

.p-pc-nav {
	display: block;
	height: inherit;
}

.p-pc-nav__items {
	align-items: center;
	display: flex;
	height: inherit;
}

.p-pc-nav__item {
	height: inherit;
}

.p-pc-nav__item a {
	align-items: center;
	display: flex;
	font-weight: 700;
	height: inherit;
	padding: 0 1.1875rem;
}

.p-pc-nav__item a:first-child {
	margin-left: 0.5625rem;
}

.p-pickup__item {
	align-items: flex-start;
	display: flex;
	margin-top: 1.875rem;
	position: relative;
}

.p-pickup__img {
	max-width: 13.125rem;
	position: relative;
	width: 100%;
}

.p-pickup__img::before {
	content: "";
	display: block;
	padding-top: 60.952381%;
}

.p-pickup__img img {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.p-pickup__body {
	margin-left: 2rem;
	max-width: 38.125rem;
	width: 100%;
}

.p-pickup__category a {
	background-color: #1b224c;
	color: #fff;
	display: block;
	font-size: 0.75rem;
	left: 0;
	padding: 0.5rem 0.75rem;
	position: absolute;
	top: 0;
}

.p-pickup__title {
	font-size: 1.625rem;
}

.p-pickup__sub-title a {
	display: inline-block;
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.5;
	margin-top: 0.625rem;
	text-decoration: underline;
}

.p-price-list__items {
	display: flex;
	margin-top: 7rem;
}

.p-price-list__item {
	max-width: calc(25% - 0.4375rem * 3 / 4);
	text-align: center;
	width: 100%;
}

.p-price-list__item + .p-price-list__item {
	margin-left: 0.4375rem;
}

.p-price-list__sub-title {
	background-color: #1b224c;
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
	padding-bottom: 1.3125rem;
	padding-top: 1.3125rem;
}

.p-price-list__body {
	border: 0.5px solid #1b224c;
	border-top: none;
	height: 100%;
	padding-bottom: 5.875rem;
	padding-top: 1.875rem;
}

.p-price-list__sub-title.p-price-list__sub-title--pickup {
	background-color: #f5a623;
	margin-top: -2.625rem;
}

.p-price-list__br {
	display: block;
	padding-bottom: 0.9375rem;
}

.p-price-list__price {
	font-size: 1.5625rem;
	font-weight: 700;
}

.p-price-list__price.p-price-list__price--pickup {
	color: #f5a623;
}

.p-price-list__month {
	margin-top: 0.875rem;
}

.p-price-list__content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 3.0625rem;
	max-width: 11.5625rem;
	width: 100%;
}

.p-price-list__text::before {
	border-bottom: 3px solid #1b224c;
	border-left: 3px solid #1b224c;
	content: "";
	display: inline-block;
	height: 0.40625rem;
	margin-bottom: 0.25rem;
	margin-right: 0.71875rem;
	transform: rotate(-45deg);
	width: 0.6125rem;
}

.p-price-list__text.p-price-list__text--none::before {
	content: none;
}

.p-price-list__text + .p-price-list__text {
	margin-top: 1.25rem;
}

.p-price-plan__box {
	align-items: center;
	color: #fff;
	display: flex;
	font-size: 1.375rem;
	font-weight: 700;
	justify-content: center;
	margin-top: 3.75rem;
}

.p-price-plan__join {
	background-color: #1b224c;
	line-height: 1;
	padding: 2.125rem 3.625rem;
}

.p-price-plan__month {
	background-color: #1b224c;
	line-height: 1;
	margin-left: 6.125rem;
	padding: 2.125rem 6rem;
	position: relative;
}

.p-price-plan__month::before,
.p-price-plan__month::after {
	background-color: #1b224c;
	content: "";
	display: block;
	height: 0.125rem;
	left: -3.75rem;
	position: absolute;
	top: 3.03125rem;
	width: 1.6875rem;
}

.p-price-plan__month::before {
	transform: rotate(90deg);
}

.p-price-plan__text {
	margin-top: 2.8125rem;
}

.p-price__bg {
	background-image: url(../img/top/price.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding-bottom: 3.3125rem;
	padding-top: 3.8125rem;
	text-align: center;
}

.p-price__text {
	font-size: 1.625rem;
	font-weight: 700;
}

.p-price__btn {
	margin-top: 1.6875rem;
}

.p-question__accordion {
	margin-top: 2.25rem;
}

.p-relate__items {
	margin-top: 1.875rem;
}

.p-relate__item {
	display: flex;
}

.p-relate__img {
	max-width: 6.25rem;
	position: relative;
	width: 100%;
}

.p-relate__img::before {
	content: "";
	display: block;
	padding-top: 70%;
}

.p-relate__img img {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.p-relate__item + .p-relate__item {
	margin-top: 2.625rem;
}

.p-relate__sub-title a {
	display: block;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 2;
	margin-left: 1.0625rem;
	max-width: 9.5rem;
	text-decoration: underline;
	width: 100%;
}

.p-single {
	line-height: 1.5;
}

.p-single__category {
	background-color: #1b224c;
	color: #fff;
	display: inline-block;
	font-size: 0.75rem;
	line-height: 1;
	padding: 0.5625rem 1.5625rem;
}

.p-single__info {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
	margin-top: 1.3125rem;
}

.p-single__title {
	font-size: 1.75rem;
	font-weight: 700;
	margin-top: 2.1875rem;
}

.p-single__img {
	margin-top: 1.5625rem;
	position: relative;
	width: 100%;
}

.p-single__img::before {
	content: "";
	display: block;
	padding-top: 62.711864%;
}

.p-single__img img {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.p-single__body h2 {
	font-size: 1.625rem;
	font-weight: 700;
	margin-top: 2.5rem;
}

.p-single__body > p {
	margin-top: 1.875rem;
}

.p-single__body h3 {
	font-size: 1.375rem;
	font-weight: 700;
	margin-top: 2.0625rem;
	padding-left: 0.625rem;
	position: relative;
}

.p-single__body h3::before {
	background-color: #1b224c;
	content: "";
	display: inline-block;
	height: 1.75rem;
	left: 0;
	position: absolute;
	top: 0.1875rem;
	width: 0.25rem;
}

.p-single__body .wp-block-quote {
	background-color: #F8F8F8;
	margin-top: 1.875rem;
	max-width: 36.875rem;
	padding: 1.6875rem 1.625rem 1.0625rem 4.625rem;
	position: relative;
	width: 100%;
}

.p-single__body .wp-block-quote::before {
	color: #B4B4B4;
	content: "“";
	display: inline-block;
	font-size: 5.625rem;
	left: 1.25rem;
	position: absolute;
	top: -0.25rem;
}

.wp-block-image {
	margin-top: 2.9375rem;
}

.p-single__body ul {
	margin-top: 1.875rem;
	max-width: 34.875rem;
	width: 100%;
}

.p-single__body ul li {
	padding-left: 2.0625rem;
	position: relative;
}

.p-single__body ul li::before {
	background-color: #f5a623;
	border-radius: 50%;
	content: "";
	display: block;
	height: 0.6875rem;
	left: 0;
	position: absolute;
	top: 0.3125rem;
	width: 0.6875rem;
}

.p-single__body a {
	color: #f5a623;
	display: block;
	font-size: 1.125rem;
	margin-top: 1.875rem;
	text-decoration: underline;
}

.p-sp-nav {
	display: none;
}

.p-sp-nav__contact {
	display: none;
}

.p-sp-nav__btn:last-child {
	margin-top: 1.25rem;
}

.p-sp-nav__item a {
	color: #1b224c;
	display: block;
	font-size: 1.125rem;
	font-weight: 700;
	padding-bottom: 1.25rem;
	padding-top: 1.25rem;
	text-align: center;
	width: 100%;
}

.is-drawerActive .p-sp-nav {
	transform: translateX(0px);
	transition: 0.3s;
}

.p-sub-blog__item {
	margin-top: 3.75rem;
}

.p-sub-contact__inner.l-inner {
	max-width: 750px;
}

.p-sub-contact__contents {
	margin-top: 2.5625rem;
}

.p-sub-contact__content + .p-sub-contact__content {
	margin-top: 1.25rem;
}

.p-sub-contact__content.p-sub-contact__content--radio {
	margin-top: 1.5rem;
}

.p-sub-contact__content.p-sub-contact__content--textarea {
	margin-top: 1.0625rem;
}

.p-sub-contact__content.p-sub-contact__content--check {
	margin-top: 1.875rem;
	text-align: center;
}

.p-sub-contact__content.p-sub-contact__content--button {
	margin-top: 3rem;
	text-align: center;
}

.p-sub-contact__title {
	font-size: 1rem;
	letter-spacing: 0.04em;
	line-height: 1;
	margin-right: 0.625rem;
	padding-bottom: 0.75rem;
}

.p-sub-contact__bold {
	font-weight: 700;
}

.p-sub-contact__privacy {
	color: #f5a623;
	display: inline-block;
	text-decoration: underline;
}

.p-sub-contact__item.p-contact-check {
	margin-top: 2.0625rem;
}

.p-sub-mv {
	min-height: 13.75rem;
	position: relative;
}

.p-sub-mv__img,
.p-sub-mv__img img {
	min-height: inherit;
}

.p-sub-mv__title {
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
}

.p-sub-news__items {
	margin-top: 2.8125rem;
}

.p-success {
	background-color: #1b224c;
	padding-bottom: 3.75rem;
	padding-top: 3.625rem;
}

.p-success__title {
	color: #fff;
}

.p-success__items {
	margin-top: 8.5625rem;
}

.p-test {
	color: red;
	font-size: 3.125rem;
}

.p-thanks {
	text-align: center;
}

.p-thanks__link {
	display: block;
	margin-top: 5.1875rem;
	text-decoration: underline;
}

.p-use__items {
	margin-top: 3.3125rem;
}

.mw_wp_form .horizontal-item + .horizontal-item {
	margin-left: 0;
}

.u-hidden-tab {
	display: none;
}

.wp-pagenavi {
	align-items: center;
	clear: both;
	display: flex;
	justify-content: center;
}

.wp-pagenavi a,
.wp-pagenavi span {
	border: 1px solid #1b224c;
	color: #1b224c;
	font-weight: 700;
	line-height: 1;
	margin: 0 0.625rem;
	padding: 1.0625rem 1.25rem;
	text-align: center;
	text-decoration: none;
	transition: 0.2s ease-in-out;
	white-space: nowrap;
}

.wp-pagenavi a:hover {
	background-color: #1b224c;
	color: #fff;
}

.wp-pagenavi span.current {
	background-color: #1b224c;
	color: #fff;
}

.wp-pagenavi span.extend {
	background: transparent;
	border: none;
	margin: 0 1.625rem;
	padding: 0;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: 0.01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: 0.01ms !important;
}

}

@media (min-width: 900px) {

html {
	font-size: 16px;
}

}

@media screen and (max-width: 1067px) {

.c-hamburger {
	display: inline-block;
	outline: none;
	transition: all 0.3s ease-in-out;
}

.c-test {
	color: green;
	font-size: 1.875rem;
}

.p-header__inner {
	justify-content: flex-start;
}

.p-header__right {
	margin-left: calc(130 / 768 * 100vw);
}

.p-header__hamburger {
	height: 1rem;
	position: absolute;
	right: 1.0625rem;
	top: 50%;
	transform: translateY(-50%);
	width: 2.25rem;
	z-index: 5;
}

.p-header__sp-nav {
	bottom: 0;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 4;
}

.p-pc-nav {
	display: none;
}

.p-sp-nav {
	background-color: #fff;
	display: block;
	height: 100vh;
	overflow: hidden;
	overflow: scroll;
	transform: translateX(100%);
	transition: 0.3s ease;
}

.p-sp-nav__items {
	margin-top: 3.125rem;
	padding: 12.5rem 0 1.25rem;
}

.p-sub-contact__bold {
	display: block;
	font-size: 0.875rem;
	margin-top: 0.5rem;
}

}

@media screen and (max-width: 900px) {

html {
	font-size: 1.77778vw;
}

}

@media screen and (max-width: 767px) {

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	font-size: 14px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	padding-top: 2px;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	padding-top: 2px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	padding-top: 2px;
}

html {
	font-size: 16px;
}

a:hover {
	opacity: initial;
}

.l-contact {
	margin-top: 4.375rem;
}

.l-container__inner {
	flex-direction: column;
}

.l-inner {
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.l-main-contents {
	max-width: 100%;
}

.l-news {
	margin-left: 0;
	margin-top: 4.375rem;
	max-width: 100%;
}

.l-pagenavi {
	margin-top: 5rem;
}

.l-position-footer {
	position: initial;
}

.l-price-contact {
	margin-top: 3.6875rem;
}

.l-relate {
	margin-top: 3.125rem;
}

.l-section-box__inner {
	flex-direction: column;
}

.l-side-contents {
	margin-left: 0;
	max-width: 100%;
}

.c-copy {
	text-align: center;
}

.c-section-title {
	font-size: 1.5rem;
}

.c-section-title.c-section-title--sub {
	font-size: 1.25rem;
}

.c-sub-section-title {
	font-size: 1.5rem;
}

.p-404 {
	padding-bottom: 6.25rem;
}

.p-404__title.c-section-title {
	font-size: 1.125rem;
}

.p-accordion__title::before,
.p-accordion__title::after {
	height: 0.125rem;
	width: 1rem;
}

.p-ask__inner.l-inner {
	max-width: 100%;
	padding: 0;
}

.p-ask__items {
	flex-direction: column;
	list-style-position: inside;
	list-style-type: disc;
	margin-top: 2.5rem;
	padding-left: 20px;
	padding-right: 20px;
}

.p-ask__item {
	font-size: 1rem;
}

.p-ask__item + .p-ask__item {
	margin-left: 0;
}

.p-ask__content {
	margin-top: 2.5rem;
}

.p-blog-box {
	flex-direction: column;
}

.p-blog-box__img {
	max-width: 100%;
}

.p-blog-box__body {
	margin-left: 0;
	margin-top: 1.5rem;
}

.p-blog-box__sub-title {
	margin-top: 0.3125rem;
}

.p-blog-box__sub-title a {
	font-size: 1.25rem;
	margin-top: 0.625rem;
}

.p-blog__title {
	text-align: center;
}

.p-border-box__title {
	font-size: 1.1875rem;
}

.p-border-box__text {
	font-size: 1rem;
}

.p-box1 {
	flex-direction: column;
	position: relative;
}

.p-box1:nth-child(even) {
	flex-direction: column-reverse;
}

.p-box1__body {
	max-width: 100%;
}

.p-box1__body.p-box1__body--even {
	margin-left: 0;
}

.p-box1__category {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 3;
}

.p-box1__title {
	font-size: 1.25rem;
	margin-top: 1.5rem;
}

.p-box1__text {
	margin-top: 1.25rem;
}

.p-box1__img {
	margin-left: 0;
}

.p-card-list {
	flex-direction: column;
}

.p-card-list__item {
	max-width: 100%;
}

.p-card-list__item + .p-card-list__item {
	margin-left: 0;
	margin-top: 2.5rem;
}

.p-card-list__item:nth-child(n + 4) {
	margin-top: 0;
}

.p-contact-button__submit:hover,
.p-contact-button__submit:focus {
	opacity: initial;
}

input[type="checkbox"] + span {
	font-size: 0.875rem;
	padding: 0 0 0 1.25rem;
}

input[type="checkbox"] + span::before {
	height: 0.875rem;
	top: 0.25rem;
	width: 0.875rem;
}

input[type="checkbox"] + span::after {
	left: 0.0625rem;
}

input[type="radio"] + span {
	font-size: 0.875rem;
}

.p-contact-textarea__text {
	font-size: 0.875rem;
	padding: 0.75rem 0.8125rem;
}

.p-contact__info {
	align-items: center;
	flex-direction: column;
	margin-left: 0;
}

.p-contact__number {
	margin-left: 0;
	margin-top: 0.625rem;
}

.p-contact__hour {
	margin-left: 0;
	margin-top: 0.625rem;
}

.p-footer__inner {
	flex-direction: column;
}

.p-footer__items {
	align-items: center;
	flex-wrap: wrap;
	padding-top: 0;
}

.p-footer__item {
	margin-top: 0.625rem;
	text-align: center;
	width: 50%;
}

.p-footer__item:nth-child(even):before {
	content: none;
}

.p-footer__item:nth-child(odd) a {
	padding-left: 1.875rem;
	padding-right: 0;
}

.p-footer__item:nth-child(even) a {
	padding-left: 0;
	padding-right: 1.875rem;
}

.p-footer__block {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 3.125rem;
}

.p-header__logo {
	height: 1.25rem;
	width: 6.25rem;
}

.p-footer__info {
	margin-left: 1.25rem;
	margin-top: 0;
	max-width: 9.6875rem;
	width: 100%;
}

.p-footer__hour {
	margin-top: 0;
}

.p-header {
	background-color: #fff;
}

.p-header__inner {
	padding: 0 1.375rem;
}

.p-header__right {
	display: none;
}

.p-header__logo {
	height: 1.25rem;
	width: 6.25rem;
}

.p-mv {
	background-position: 70% center;
}

.p-mv__title {
	font-size: 1.75rem;
}

.p-mv__text {
	padding-left: 20px;
	padding-right: 20px;
}

.p-news-info {
	flex-direction: column;
}

.p-news-info__sub-title {
	margin-left: 0;
	margin-top: 0.3125rem;
	max-width: 100%;
}

.p-news-info__sub-title a {
	padding-top: 0;
}

.p-news-info__date {
	max-width: 100%;
	padding-bottom: 0;
}

.p-news-single__title {
	margin-top: 1.5rem;
}

.p-news-single__date {
	margin-top: 1.3125rem;
}

.p-news-single__body h2 {
	font-size: 1.25rem;
	margin-top: 1.75rem;
}

.p-news-single__body > p {
	margin-top: 1.5rem;
}

.p-news-single__body h3 {
	font-size: 1.125rem;
	margin-top: 1.5rem;
}

.p-news-single__body h3::before {
	height: 1.5rem;
	top: 0.125rem;
}

.p-news-single__body .wp-block-quote {
	margin-top: 1.5rem;
}

.wp-block-image {
	margin-top: 1.5rem;
}

.p-news-single__body ul {
	margin-top: 1.5rem;
}

.p-news-single__body a {
	margin-top: 1.5rem;
}

.p-news__title {
	text-align: center;
}

.p-order-list__content {
	flex-direction: column;
}

.p-order-list__title {
	max-width: 100%;
}

.p-order-list__text {
	max-width: 100%;
	padding-left: 0;
}

.p-order-list__text::before {
	content: none;
}

.p-pickup__item {
	flex-direction: column;
	margin-top: 3.125rem;
}

.p-pickup__img {
	max-width: 100%;
}

.p-pickup__body {
	margin-left: 0;
	margin-top: 1.5rem;
}

.p-pickup__title {
	font-size: 1.25rem;
	text-align: center;
}

.p-pickup__sub-title a {
	font-size: 1.25rem;
	margin-top: 0.3125rem;
}

.p-price-list__scroll {
	overflow-x: auto;
}

.p-price-list__items {
	font-size: 0.9375rem;
	width: 53.125rem;
}

.p-price-list__body {
	height: 87%;
}

.p-price-plan__box {
	font-size: 1rem;
	text-align: center;
}

.p-price-plan__join {
	line-height: 1.5;
	padding: 0.25rem 2.125rem;
}

.p-price-plan__month {
	margin-left: 3.125rem;
	padding: 1.375rem 2.1875rem;
}

.p-price-plan__month::before,
.p-price-plan__month::after {
	left: -2.1875rem;
	top: 1.875rem;
	width: 1.125rem;
}

.p-price__inner.l-inner {
	max-width: 100%;
	padding: 0;
}

.p-price__bg {
	padding-left: 20px;
	padding-right: 20px;
}

.p-price__text {
	font-size: 1.4375rem;
}

.p-relate__img {
	max-width: 9.375rem;
}

.p-relate__img::before {
	padding-top: 75%;
}

.p-relate__sub-title a {
	font-size: 1rem;
	line-height: 1.5;
	margin-left: 1.25rem;
}

.p-single__info {
	display: block;
}

.p-single__title {
	margin-top: 1.5rem;
}

.p-single__date {
	display: block;
	text-align: right;
}

.p-single__img {
	margin-top: 0.9375rem;
}

.p-single__body h2 {
	font-size: 1.25rem;
	margin-top: 1.75rem;
}

.p-single__body > p {
	margin-top: 1.5rem;
}

.p-single__body h3 {
	font-size: 1.125rem;
	margin-top: 1.5rem;
}

.p-single__body h3::before {
	height: 1.5rem;
	top: 0.125rem;
}

.p-single__body .wp-block-quote {
	margin-top: 1.5rem;
}

.wp-block-image {
	margin-top: 1.5rem;
}

.p-single__body ul {
	margin-top: 1.5rem;
}

.p-single__body a {
	margin-top: 1.5rem;
}

.p-sp-nav__contact {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 13rem;
}

.p-sp-nav__items {
	padding: 9.375rem 0 1.25rem;
}

.p-sp-nav__item a {
	font-size: 1rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.p-sub-blog__item {
	margin-top: 3.125rem;
}

.p-sub-contact__text {
	font-size: 0.875rem;
}

.p-sub-contact__content.p-sub-contact__content--check {
	text-align: left;
}

.p-sub-contact__head {
	font-size: 0.875rem;
}

.p-sub-contact__title {
	font-size: 0.875rem;
}

.p-sub-mv__title {
	font-size: 1.625rem;
}

.p-success__items {
	margin-top: 3rem;
}

.p-test {
	color: green;
	font-size: 1.875rem;
}

.p-thanks {
	padding-bottom: 6.25rem;
}

.p-thanks__text {
	font-size: 0.875rem;
}

.p-thanks__link {
	margin-top: 3.75rem;
}

.p-use__items {
	margin-top: 3.625rem;
}

.u-hidden-tab {
	display: block;
}

.u-hidden-sp {
	display: none;
}

.wp-pagenavi a,
.wp-pagenavi span {
	margin: 0 0.375rem;
	padding: 0.625rem 0.8125rem;
}

.wp-pagenavi span.extend {
	margin: 0 0.375rem;
}

}

@media screen and (max-width: 767px) and (max-width: 767px) {

.p-price-list__items {
	margin-top: 5rem;
}

}

@media screen and (max-width: 374px) {

html {
	font-size: 4.26667vw;
}

}

