.p-ask {
  background-color: $blue-background;
  padding-top: rem(63);
  padding-bottom: rem(54);
}

.p-ask__title {
  color: $sub-text-color;
}

.p-ask__inner.l-inner {
  @include mq(sp) { 
     max-width: 100%;
     padding: 0;
  }
}

.p-ask__items {
  color: $sub-text-color;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: rem(65);
  @include mq(sp) { 
     flex-direction: column;
     padding-left: $padding-sp;
     padding-right: $padding-sp;
     list-style-type: disc;
     list-style-position: inside;
     margin-top: rem(40);
  }
}

.p-ask__item {
  font-size: rem(18);
  font-weight: $font-weight-bold;
  line-height: 2.166;
  @include mq(sp) { 
    font-size: rem(16);
  }
}



.p-ask__item + .p-ask__item {
  margin-left: rem(30);
  @include mq(sp) { 
     margin-left: 0;
  }
}

.p-ask__content {
    margin-top: rem(83);
    @include mq(sp) { 
       margin-top: rem(40);
    }
}