.p-blog__item {
  margin-top: rem(30);
}

.p-blog__item a {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.p-blog__item a:hover {
  opacity: 1;
  .p-blog__img img {
    transform: scale(1.2, 1.2);
    @include mq(sp) {
      transform: initial;
    }
  }
  .p-blog__body {
    opacity: $opacity;
    @include mq(sp) {
      opacity: 1;
    }
  }
}

.p-blog__img {
  width: 100%;
  position: relative;
  max-width: rem(150);
  // アニメーション用
  overflow: hidden;
  transition: inherit;
}
.p-blog__img::before {
  content: "";
  display: block;
  padding-top: 73.3333333%;
}
.p-blog__img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: inherit;
}

.p-blog__body {
  padding-left: rem(20);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: rem(260);
  transition: all 0.3s ease-in-out;
}

.p-blog__category {
  color: $sub-text-color;
  font-size: rem(12);
  background-color: $blue-background;
  padding: rem(5) rem(9);
  position: absolute;
  top: 0;
  left: 0;
}

.p-blog__title {
  text-align: left;
  @include mq(sp) {
    text-align: center;
  }
}

.p-blog__sub-title {
  font-size: rem(16);
  font-weight: $font-weight-bold;
  text-decoration: underline;
}

.p-blog__date {
  font-size: rem(12);
  margin-top: auto;
}
