.p-contact__inner {
  background-image: url(../img/common/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: rem(70);
  padding-bottom: rem(41);
}

.p-contact__title {
  color: $sub-text-color;
}

.p-contact__btn {
  margin-top: rem(16);
}

.p-contact__link {
  display: inline-block;
  width: 100%;
  margin-top: rem(22);
  color: $sub-text-color;
  text-decoration: underline;
}

.p-contact__info {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-left: $padding-sp;
  padding-right: $padding-sp;
  margin-top: rem(20);
  margin-left: rem(-115);
  @include mq(sp) { 
     flex-direction: column;
     margin-left: 0;
     align-items: center;
  }
}

.p-contact__text {
  font-weight: $font-weight-bold;
}

.p-contact__number {
  line-height: 1;
  font-size: rem(36);
  font-weight: $font-weight-bold;
  margin-left: rem(20);
  @include mq(sp) { 
     margin-left: 0;
     margin-top: rem(10);
  }
}

.p-contact__hour {
  margin-left: rem(20);
  @include mq(sp) { 
     margin-left: 0;
     margin-top: rem(10);
  }
}
