// .p-contact-check__item {
// 	display: none;
// }

input[type="checkbox"] + span {
  cursor: pointer;
  font-size: rem(16);
  font-weight: $font-weight-base;
  display: inline-block;
  padding: 0 0 0 rem(35);
  position: relative;
  @include mq(sp) {
    font-size: rem(14);
    padding: 0 0 0 rem(20);
  }
}

input[type="checkbox"] + span::before {
  background: #fff;
  border: 1px solid $form_background;
  content: "";
  display: block;
  height: rem(20);
  left: 0;
  top: rem(2);
  position: absolute;
  // top: 50%;
  // -webkit-transform: translateY(-50%);
  // transform: translateY(-50%);
  width: rem(20);
  @include mq(sp) {
    width: rem(14);
    height: rem(14);
    top: rem(4);
  }
}

input[type="checkbox"] + span::after {
  border-bottom: 3px solid $form_background;
  border-left: 3px solid $form_background;
  content: "";
  display: block;
  top: rem(6);
  left: rem(2);
  opacity: 0;
  position: absolute;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: 1em;
  height: 0.6em;
  @include mq(sp) { 
     left: rem(1);
  }
}

input[type="checkbox"]:checked + span::after {
  opacity: 1;
}
