.p-contact-button__submit {
  line-height: 1;
  -webkit-appearance: none;
  background-color: $blue-background;
  background-image: none;
  border: none;
  border-radius: 5px;
  color: $sub-text-color;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: rem(17) rem(68);
  text-decoration: none;
  font-size: rem(16);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.p-contact-button__submit:hover,
.p-contact-button__submit:focus {
  outline: none;
  opacity: $opacity;
  @include mq(sp) {
    opacity: initial;
  }
}

.p-contact-button__submit::-moz-foucus-inner {
  border: none;
  padding: 0;
}
