.p-contact-textarea__text {
  resize: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 0.5px solid $blue-background;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: rem(16);
  height: rem(242);
  padding: rem(22) rem(23);
  width: 100%;
  @include mq(sp) {
    font-size: rem(14);
	padding: rem(12) rem(13);
  }
}

.p-contact-textarea__text:focus {
  border: 0.5px solid $blue-background;
  box-shadow: none;
  outline: none;
}
