.p-footer {
  color: $text-color;
}

.p-footer__bgc {
  background-color: $blue-background;
}

.p-footer__inner {
  display: flex;
  justify-content: space-between;
  color: $sub-text-color;
  padding: rem(35) $padding-pc rem(66);
  @include mq(sp) {
    flex-direction: column;
  }
}

.p-footer__items {
  display: flex;
  align-items: flex-start;
  padding-top: rem(11);
  @include mq(sp) {
    flex-direction: column;
    padding-top: 0;
    margin: 0 auto;
  }
}

.p-footer__list {
  display: flex;
  align-items: flex-start;
  padding-top: rem(11);
}

.p-footer__item {
  position: relative;
}
.p-footer__item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: $background;
  height: 100%;
  width: 1px;
}

.p-footer__list:last-child {
  .p-footer__item:last-child:before {
    content: none;
  }
}

.p-footer__item:last-child:before {
  @include mq(sp) {
    content: none;
  }
}

.p-footer__item a {
  font-weight: $font-weight-bold;
  padding: 0 rem(26);
  @include mq(sp) { 
     padding: 0 rem(40);
  }
}

.p-footer__list:first-child {
  .p-footer__item:first-child a {
    padding-left: 0;
  }
}

.p-footer__item:first-child a {
  @include mq(sp) {
    padding-left: 0;
  }
}
.p-footer__item:last-child a {
  @include mq(sp) {
    padding-right: 0;
  }
}

.p-footer__block {
  @include mq(sp) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(50);
  }
}

.p-header__logo {
  width: rem(159);
  height: rem(31);
  @include mq(sp) {
    width: rem(100);
    height: rem(20);
  }
}

.p-footer__logo a {
  display: block;
  background-color: $background;
  padding: rem(14) rem(19);
}

.p-footer__logo a:hover {
  opacity: initial;
}

.p-footer__info {
  text-align: right;
  margin-top: rem(24);
  @include mq(sp) {
    margin-top: 0;
    margin-left: rem(20);
    width: 100%;
    max-width: rem(130);
  }
}

.p-footer__tell {
  justify-content: flex-end;
}

.p-footer__hour {
  margin-top: rem(9);
  @include mq(sp) {
    margin-top: 0;
  }
}
