.p-header {
  position: relative;
  background-color: $background;
}

.p-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: rem(15);
  padding-right: rem(10);
  height: inherit;
  @include mq(tab) {
    justify-content: flex-start;
  }
  @include mq(sp) {
    padding: 0 rem(22);
  }
}

.p-header__left {
  display: flex;
  align-items: center;
  height: inherit;
}

.p-header__right {
  display: flex;
  align-items: center;
  height: inherit;
  z-index: 100;
  @include mq(tab) {
    margin-left: calc(130 / 768 * 100vw);
  }
  @include mq(sp) {
    display: none;
  }
}

.p-header__logo {
  position: relative;
  z-index: 1000;
  width: rem(136);
  height: rem(27);
  @include mq(sp) {
    width: rem(100);
    height: rem(20);
  }
}

.p-header__hamburger {
  @include mq(tab) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(17);
    z-index: 5;
    width: rem(36);
    height: rem(16);
  }
}

.p-header__sp-nav {
  @include mq(tab) {
    position: fixed;
    z-index: 4;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
  }
}

.p-header__info {
  margin-top: rem(15);
}

.p-header__hour {
  font-size: rem(12);
  text-align: right;
}

.p-header__btn {
  margin-left: rem(24);
}

.p-header__btn:last-child {
  margin-left: rem(10);
}
