.p-mv {
  position: relative;
  width: 100%;
  height: rem(476);
}

.p-mv::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: $img-filter;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.p-mv__img,
.p-mv__img img {
  width: inherit;
  height: inherit;
}

.p-mv__img img {
  object-position: center top;
  @include mq(sp) {
    object-position: 30% top;
  }
}

.p-mv__content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $sub-text-color;
  text-align: center;
  width: 100%;
}

.p-mv__title {
  font-size: rem(48);
  font-weight: $font-weight-bold;
  line-height: 1;
  @include mq(sp) {
    font-size: rem(28);
  }
}

.p-mv__text {
  font-size: rem(18);
  margin-top: rem(25);
  line-height: 1.72;
  @include mq(sp) {
    padding-left: $padding-sp;
    padding-right: $padding-sp;
  }
}

.p-mv__btn {
  margin-top: rem(45);
}

.p-mv__link {
  display: block;
  width: 100%;
  margin-top: rem(22);
  color: $sub-text-color;
  text-decoration: underline;
  line-height: 1;
}
