.p-mv {
  background-image: url(../img/top/mv.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $sub-text-color;
  text-align: center;
  padding-top: rem(116);
  padding-bottom: rem(86);
  // padding-top: calc(116 / 1280 * 100vw);
  // padding-bottom: calc(86 / 1280 * 100vw);
  @include mq(sp) { 
    background-position: 70% center
  }
}

.p-mv__title {
  font-size: rem(48);
  font-weight: $font-weight-bold;
  line-height: 1;
  @include mq(sp) { 
     font-size: rem(28);
  }
}

.p-mv__text {
  font-size: rem(18);
  margin-top: rem(25);
  line-height: 1.72;
  @include mq(sp) { 
     padding-left: $padding-sp;
     padding-right: $padding-sp;
  }
}

.p-mv__btn {
  margin-top: rem(45);
}

.p-mv__link {
  display: block;
  width: 100%;
  margin-top: rem(22);
  color: $sub-text-color;
  text-decoration: underline;
  line-height: 1;
}
