.p-news__item {
  margin-top: rem(27);
}

.p-news__title {
  text-align: left;
  @include mq(sp) { 
    text-align: center;
 }
}

.p-news__sub-title a {
  display: block;
  font-size: rem(16);
  text-decoration: underline;
}

.p-news__date {
  font-size: rem(12);
}
