.p-news-single__category {
  display: inline-block;
  color: $sub-text-color;
  font-size: rem(12);
  line-height: 1;
  padding: rem(9) rem(25);
  background-color: $blue-background;
}

.p-news-single__title {
  font-size: rem(28);
  font-weight: $font-weight-bold;
  line-height: 1.5;
  margin-top: rem(35);
  @include mq(sp) {
    margin-top: rem(24);
  }
}

.p-news-single__date {
  margin-top: rem(36);
  display: block;
  text-align: right;
  @include mq(sp) { 
     margin-top: rem(21);
  }
}

.p-news-single__body {
  // margin-top: rem(40);
}

.p-news-single__body h2 {
  font-size: rem(26);
  font-weight: $font-weight-bold;
  margin-top: rem(60);
  @include mq(sp) {
    font-size: rem(20);
    margin-top: rem(28);
  }
}

.p-news-single__body > p {
  line-height: 1.5;
  margin-top: rem(30);
  @include mq(sp) {
    margin-top: rem(24);
  }
}

.p-news-single__body h3 {
  position: relative;
  font-size: rem(22);
  font-weight: $font-weight-bold;
  margin-top: rem(33);
  padding-left: rem(10);
  @include mq(sp) {
    font-size: rem(18);
    margin-top: rem(24);
  }
}

.p-news-single__body h3::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: rem(3);
  left: 0;
  width: rem(4);
  height: rem(28);
  background-color: $blue-background;
  @include mq(sp) {
    top: rem(2);
    height: rem(24);
  }
}

.p-news-single__body .wp-block-quote {
  position: relative;
  width: 100%;
  max-width: rem(590);
  background-color: $pink-background;
  padding: rem(27) rem(26) rem(17) rem(74);
  margin-top: rem(30);
  @include mq(sp) {
    margin-top: rem(24);
  }
}

.p-news-single__body .wp-block-quote::before {
  display: inline-block;
  position: absolute;
  content: "“";
  top: rem(-4);
  left: rem(20);
  font-size: rem(90);
  color: $quote;
}

.wp-block-image {
  width: 100%;
  max-width: rem(590);
  margin-top: rem(30);
  @include mq(sp) {
    margin-top: rem(24);
  }
}

.p-news-single__body ul {
  line-height: 1.5;
  width: 100%;
  max-width: rem(558);
  margin-top: rem(36);
  padding-left: rem(14);
  @include mq(sp) {
    margin-top: rem(24);
  }
}

.p-news-single__body ul li {
  position: relative;
  padding-left: rem(33);
}

.p-news-single__body ul li::before {
  display: block;
  content: "";
  position: absolute;
  top: rem(5);
  left: 0;
  background-color: $ac-color;
  border-radius: 50%;
  width: rem(11);
  height: rem(11);
}

.p-news-single__body a {
  color: $ac-color;
  text-decoration: underline;
  line-height: 1.5;
  margin-top: rem(30);
  padding-left: rem(14);
  @include mq(sp) {
    margin-top: rem(24);
  }
}
