.p-relate__items {
  margin-top: rem(30);
}

.p-relate__item a {
  display: flex;
}

.p-relate__item a:hover {
  opacity: 1;
  .p-relate__img img {
    transform: scale(1.2, 1.2);
    @include mq(sp) {
      transform: initial;
    }
  }
  .p-relate__sub-title {
    opacity: $opacity;
    @include mq(sp) {
      opacity: 1;
    }
  }
}

.p-relate__img {
  width: 100%;
  position: relative;
  max-width: rem(100);
  // アニメーション用
  overflow: hidden;
  transition: inherit;
  @include mq(sp) {
    max-width: rem(150);
  }
}
.p-relate__img::before {
  content: "";
  display: block;
  padding-top: 70%;
  @include mq(sp) {
    padding-top: 75%;
  }
}
.p-relate__img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: inherit;
}

.p-relate__item + .p-relate__item {
  margin-top: rem(42);
}

.p-relate__sub-title {
  font-size: rem(12);
  font-weight: $font-weight-base;
  line-height: 2;
  text-decoration: underline;
  padding-left: rem(17);
  width: 100%;
  max-width: rem(164);
  transition: all 0.3s ease-in-out;
  @include mq(sp) {
    font-size: rem(16);
    line-height: 1.5;
    padding-left: rem(20);
    max-width: 100%;
  }
}
