.p-sub-mv {
  min-height: rem(220);
  position: relative;
}

.p-sub-mv__img,
.p-sub-mv__img img {
  min-height: inherit;
}

.p-sub-mv__title {
  color: $sub-text-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
