.p-thanks {
  text-align: center;
  @include mq(sp) {
    padding-bottom: rem(100);
  }
}

.p-thanks__text {
  @include mq(sp) {
    font-size: rem(14);
  }
}

.p-thanks__link {
  display: block;
  text-decoration: underline;
  margin-top: rem(83);
  @include mq(sp) {
    margin-top: rem(60);
  }
}
