.c-border__btn {
    display: inline-block;
    color: $sub-text-color;
    font-weight: $font-weight-bold;
    padding: rem(10.5) rem(43);
    border: 1px solid $sub-text-color;
    border-radius: 30px;
}