.c-side-title {
    font-size: rem(21);
    color: $sub-text-color;
    font-weight: $font-weight-bold;
    background-color: $blue-background;
    width: 100%;
    padding: rem(14);
    text-align: center;
}