.c-small-btn {
  display: inline-block;
  color: $sub-text-color;
  font-size: rem(14);
  border-radius: 5px;
  font-weight: $font-weight-bold;
  background-color: $ac-color;
  padding: rem(13) rem(43);
}

.c-small-btn.c-small-btn--blue {
  background-color: $blue-background;
  padding: rem(13) rem(29);
}
